nav{
    height: 45px;
    background-color: darkseagreen;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    position: sticky;
    top: 0px;
}

.searchLabel{
    padding-right: 10px;
}

select {
    margin-left: 5px;
}