.bottom-section.light{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bottom-section.dark{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(34 34 34);
}

#bottom-section h1 {
    text-align: center;
}

#top-songs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#top-songs-before{
    display: none;
}

.music-square{
    width: 150px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.music-sqaure p {
    overflow: auto;
}

img{
    width: 150px;
}

